<!-- Модальное окно для имени -->
<div class="modal-overlay" id="modalOverlay">
    <div class="modal">
        <div class="modal-content">
            <div class="modal-input">
                <label for="nameInput">Name:</label>
                <input type="text" id="nameInput">
            </div>
        </div>
        <div class="modal-actions">
            <button class="close_modal">Close</button>
            <button onclick="redirectToCreateDatabase()">Submit</button>
        </div>
    </div>
</div>